.info__section {
	background-color: white;
	height: 1000px;
}

.section__padding .container {
	position: relative;
}

.info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.info__image img {
	border-radius: 50%;
	width: 100%;
}

.info__image,
.info__content {
	flex-basis: 50%;
	flex-grow: 0;
	flex-shrink: 0;
}

.info__text {
	margin: 1rem 0 2rem;
}

.info__content {
	padding-left: 7rem;
}

.info__cards {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.info__button {
	background-color: white;
}

.info__carousel {
	display: none;
}

@media screen and (max-width: 900px) {
	.info__section {
		height: 700px;
	}
	.info__content {
		padding-left: 4rem;
	}
	.info__cards {
		padding: 0;
	}
}

@media screen and (max-width: 600px) {
	.info__section {
		height: 600px;
	}
	.info__image {
		display: none;
	}
	.info__content {
		flex-grow: 1;
		padding-left: 0;
		text-align: center;
	}
	.info__cards {
		display: none;
	}
	.info__carousel {
		margin-top: 100px;
		display: block;
	}
}
