.section__padding .container {
	position: relative;
}

.info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 16rem;
}

.info__image img {
	border-radius: 50%;
	width: 100%;
}

.info__image,
.info__content {
	flex-basis: 50%;
	flex-grow: 0;
	flex-shrink: 0;
}

.info__text {
	margin: 1rem 0 2rem;
}

.info__content {
	padding-left: 7rem;
}

.info__cards {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0 5rem;
	margin: auto;
	top: 37rem;
}
