.best__container-left_article {
	background-image: url("../../../assets/images/article_left.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: var(--image__border-radius);
	height: 425px;
}

.best {
	margin-top: 250px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.best__container-left {
	width: 75%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.best__container-left_title {
	font-size: 5rem;
	font-weight: 700;
}

.side__article-icon {
	font-size: 1rem;
}

.best__container-right {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}

.best__container-right_article {
	background-color: var(--color-quaternary);
	border-radius: var(--image__border-radius);
}

.best__container-right_article-bottom {
	background-image: url("../../../assets/images/side_article_right.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	margin-top: 20px;
	padding: 0 2rem;
}
