.header__content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: var(--color-primary);
	align-items: center;
	position: relative;
}

.header__image {
	border-radius: var(--image__border-radius);
	flex: 1;
	margin-right: 2%;
}

.header__text {
	flex: 1;
	text-align: justify;
	text-justify: inter-word;
	margin-left: 2%;
}

.header__text-description {
	margin: 20px 0;
	color: var(--color-primary);
	font-weight: 500;
}

@media screen and (max-width: 900px) {
	.header__content {
		flex-direction: column;
	}
	.header__image {
		width: 100%;
		margin-right: 0;
	}
	.header__text {
		margin-left: 0;
		position: absolute;
		text-align: center;
		top: 20%;
		padding: 0 10%;
		height: 70%;
	}
	.header__text-button {
		background-color: rgba(255, 255, 255, 0.803);
		border: 1px solid var(--color-background);
		color: var(--color-primary);
		position: absolute;
		right: 10%;
		bottom: 0%;
	}
	.header__text-title {
		font-size: 6.5vw;
	}
}

@media screen and (max-width: 600px) {
	.header__text-title__link {
		display: block;
	}
	.header__text-description {
		display: none;
	}
	.header__text {
		display: flex;
		justify-content: center;
	}
	.header__text-button {
		right: 0%;
		bottom: 0%;
		left: 0;
		align-self: center;
		width: 100%;
		margin: auto;
		font-size: 1em;
	}
}
