.header__content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: var(--color-primary);
	align-items: center;
}

.header__image {
	width: 150%;
	border-radius: var(--image__border-radius);
}

.header__text-title {
	color: var(--color-tertiary);
}

.header__text {
	width: 47%;
}

.header__text-description {
	margin: 20px 0;
	color: var(--color-tertiary);
}
