.side__article {
	display: flex;
	flex-direction: column;
	padding: 20px;
	height: 100%;
}

.side__article-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.side__article-info-title,
.side__article-info-upperTitle {
	width: 70%;
}

.side__article-info-title {
	font-size: 1.5rem;
	font-weight: 800;
}

.side__article-info-link {
	align-self: flex-end;
	margin-top: 40px;
}

.side__article-info-button {
	border-color: white;
	margin-top: auto;
}

.side__article-info-button:hover {
	border-color: var(--color-primary);
}

.side__article-info-button__icon {
	vertical-align: middle;
	font-size: 1.4rem;
}

@media screen and (max-width: 900px) {
	.side__article-info-button {
		font-size: 1rem;
		padding: 10px 2%;
		font-weight: 400;
	}
}
