.services__section {
	background-image: url("../../../assets/images/services.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 460px;
	margin-top: 3rem;
}

.services__section .container {
	margin: auto;
	text-align: center;
	padding-top: 5rem;
}

.services__title {
	font-size: 4em;
	color: var(--color-primary);
}

.services__cards {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.services__carousel {
	display: none;
}

@media screen and (max-width: 900px) {
	.services__cards {
		display: none;
	}
	.services__carousel {
		display: block;
	}
}
