.navbar {
	display: flex;
	justify-content: space-between;
	font-size: 1rem;
	color: var(--color-primary);
	margin: 50px 0 0;
}

.navbar-links {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.navbar-links_logo {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.navbar-links_logo-title {
	font-style: italic;
	font-size: 2.3rem;
}

.navbar-links_logo-image {
	font-size: 2.5rem;
	margin: 0;
	padding: 0;
	color: var(--color-primary);
}

.navbar-links_pages {
	align-items: baseline;
}

.navbar-links_pages-link {
	margin: 0 1rem;
	color: var(--color-primary);
	text-decoration: none;
}

.navbar-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar-menu_button {
	display: flex;
	align-items: center;
	border: 2px solid var(--color-primary);
	background-color: var(--color-primary);
	color: var(--color-primary);
	font-size: 1.5rem;
	cursor: pointer;
	/* border-radius: 50%; */
	color: var(--color-background);
	margin: 0 0.1rem;
}

.navbar-menu_button.navbar-menu_search {
	border-radius: 50%;
}

.navbar-menu_button.navbar-menu_title {
	border-radius: 20px;
}

.navbar-menu_button-search {
	padding: 0.65rem;
	font-size: 2.35rem;
	border-radius: 50%;
}

.navbar-menu_button-title {
	padding: 0.5rem 1rem 0.65rem;
	font-size: 1rem;
	font-weight: 100;
}
