.new-posts__section {
	background-color: var(--color-background__second);
	padding-top: 25rem;
}

.new-posts__title {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
.new-posts__title h1 {
	font-size: 5rem;
}

.new-posts__carousel {
	display: flex;
}
