.footer__section {
	padding-bottom: 0;
}

.footer__section-title {
	margin: 100px 0;
	text-align: center;
	font-size: 3.5rem;
}

.footer__section {
	background-color: var(--color-primary);
	color: white;
}

.footer__section-content {
	text-align: center;
}

.footer__section-subtitle {
	font-size: 3rem;
	font-weight: 500;
}

.footer__section-join__fields {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 30px auto;
	width: 58%;
}

.footer__section-join__input {
	background-color: var(--color-primary);
	border: 1px solid white;
	color: white;
	padding: 16px 20px;
	font-size: 1.2em;
	font-weight: 300;
	text-align: center;
	border-radius: var(--border-radius);
}

.footer__section-join__input:hover {
	background-color: var(--color-secondary);
}

.footer__section-join__input:focus {
	background-color: var(--color-secondary);
}

.footer__section-join__input::placeholder {
	color: white;
}

.footer__section-button__submit {
	color: white;
	border: 1px solid white;
	background-color: var(--color-secondary);
	padding: 16px 50px;
}

.footer__section-button__submit:hover {
	background-color: var(--color-tertiary);
}

.footer__section-contact {
	margin-top: 70px;
	border-top: 1px solid rgba(255, 255, 255, 0.427);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 20px;
}

.footer__section-contact__details {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 19%;
}

@media screen and (max-width: 900px) {
	.footer__section-title {
		font-size: 3rem;
	}
	.footer__section-join__input {
		margin-right: 2%;
	}
	.footer__section-contact__details {
		width: 30%;
	}
	.footer__section-button__contact {
		font-size: 0.7rem;
	}
}

@media screen and (max-width: 600px) {
	.footer__section-title {
		font-size: 2em;
		width: 80%;
		margin: 60px auto;
	}
	.footer__section-join__fields {
		width: 100%;
	}
	.footer__section-join__input {
		width: 100%;
		margin-right: 1%;
		font-size: 0.9em;
		padding: 10px 10px;
	}
	.footer__section-button__contact {
		font-size: 0.6rem;
	}
	.footer__section-button__submit {
		width: 100%;
		margin-right: 1%;
		font-size: 0.9em;
		padding: 10px 10px;
	}
	.footer__section-contact__details {
		width: 50%;
	}
	.footer__section-contact {
		width: 100%;
		padding: 30px 0px;
	}
	.footer__section-contact__description {
		text-align: left;
	}
}
